{% extends 'database/base.html' %}

{% block content %}
    <div class="main-title">
        <h1 class="text-title" align="center" style="font-size: 36px;">Видеоаналитика очередей для предприятий микро- и малого бизнеса</h1>
    </div>
    <div class="white-background main-description mt-10 pd-10">
        <div>
            <h1 class="text-title" style="margin: 0;">Увеличение дохода бизнеса путем оптимизации потока посетителей</h1>
            <p class="text-description">Фиксация количества посетителей очереди и оповещение</p>
            <p class="text-description">Аналитика поведения </p>
        </div>
        <div>
            <img src="/media/hackathon/queue.jpg" height="360" width="580">
        </div>
    </div>
    <div class="white-background main-description mt-10 pd-10">
        <div style="width: 200px;">
            <h3 class="text-title">Стоимость реализации</h3>
            <p class="text-description">- 50к железо</p>
            <p class="text-description">- 10к/мес подписка</p>
        </div>
        <div style="width: 200px;">
            <h3 class="text-title">Возможное сохранение дохода</h3>
            <p class="text-description">- Средний чек - 300 рублей</p>
            <p class="text-description">- Потеря 20% покупателей может вылиться в потерю дохода в ~500к/мес</p>
        </div>
        <div style="width: 200px;">
            <h3 class="text-title">Также при внедрении</h3>
            <p class="text-description">- Повышается лояльность клиентов</p>
            <p class="text-description">- Быстрое обслуживание увеличивает поток новых клиентов</p>
        </div>
    </div>


{% endblock %}
