{% extends 'database/base.html' %}

{% load static %}
<!DOCTYPE html>

{% block links %}
    <link type="text/css" href="{% static 'database/css/team.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <h1 class="text-title">Команда</h1>
    <div class="team-grid">
        {% for member in team_members %}
        <div class="white-background team-members mb-10">
            <img src="{{ member.photo }}" width="160" height="160">
            <div class="team-description">
                <p class="text-title"><b>{{ member.name }}</b> / {{ member.task }}</p>
                <p class="text-description">{{ member.about }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
