.authorization {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.card {
    width: 450px;
    transition: 0.15s linear;
}

.card:hover {
    box-shadow: 0 10px 10px #ccc;
}

.input-card {
    width: 100%;
}

table, tr {
    font-family: 'Inter', sans-serif;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-overview {
    display: flex;
    flex-direction: row;
}

.locations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.alert {
    padding: 20px;
    border: 2px solid;
}

.alert.success {
    border-color: #58c758;
    background-color: #cefad0;
}

.alert.info {
    border-color: #b3dffc;
    background-color: #b3e5fc;
}

.alert.error {
    border-color: #f44336;
    background-color: #FFCCCB
}
