.authorization {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.locations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}