{% extends 'database/base.html' %}

{% load static %}
<!DOCTYPE html>

{% block links %}
    <link type="text/css" href="{% static 'accounts/css/accounts.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }} white-board">
<!--              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>-->
              {{ message }}
          </div>
        {% endfor %}
    {% endif %}
    <h2 class="text-title">Snapshots</h2>
    <hr>
    <div class="cards">
    <div class="white-background card mb-10 pd-10">
        <form action="" method="post" align="center" enctype="multipart/form-data">
        {% csrf_token %}
        {% for f in image_form %}
            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
            <div class="mb-10">{{ f }}</div>
            <div class="">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit" class="button color form-middle mt-10">Send photo</button>
        </form>
    </div>
    {% for snapshot in snapshots %}
    <div class="white-background card mb-10 pd-10">
        <img src="/media/{{ snapshot.image }}" width="100%">
        <hr>
        <div class="locations">
            <p class="text-description">{{ snapshot.date }}</p>
            <a class="button color form-small" href="{% url 'accounts-view' snapshot.project_uuid %}">Открыть</a>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}
