{% extends 'database/base.html' %}

{% load static %}
<!DOCTYPE html>

{% block links %}
    <link type="text/css" href="{% static 'accounts/css/accounts.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <h2 class="text-title">Model selection</h2>
    <hr>
    <div class="cards">
    <div class="white-background card mb-10 pd-10">
        <img src="/media/accounts/car_icon.png" width="256px" align="center">
        <hr>
        <a class="button color form-small" href="{% url 'licence_detection-home' %}">Licence detection</a>
    </div>
    <div class="white-background card mb-10 pd-10">
        <img src="/media/accounts/text_icon.png" width="256px" align="center">
        <hr>
        <a class="button color form-small" href="{% url 'text_comparison-home' %}">Text comparison</a>
    </div>
    </div>
{% endblock %}
